
    
  body {
  background-image: url('bgi.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }

  h1 {
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      color: white;
      text-align: center;
  }

  #banner{
    width:100%;
    height: 300px;
    object-fit: cover;
  }
  .icon-bar {
    /* background-color: black; 
    width: fit-content;
    padding: 10px;
    border-radius: 5px; */
  
    background-color: #282A35;
    color: #f1f1f1;
    padding: 0;
    letter-spacing: 10px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    font-size: 0;
    top: 56px;
    z-index: 2;
    width: 100%;
    /* white-space: nowrap;
    overflow: auto; */
    scrollbar-width: none;
  }

  .icon-bar a {
    color: white; 
    font-size: 24px; 
    margin-right: 10px; 
  }

  .icon-bar a:hover {
    color: gray; 
  }

  .button {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size:"60px";
    
  }
  .container{
    color:white;
    justify-content: center;
    
  }
  .p{
    justify-content: center;
  }

  .h2{
    justify-content: center;
  }

  footer {
    background-color: whitesmoke;
    padding: 25px;
  }