{% extends "layout.html" %}


{% block content %}
    <div >
    <h1>HOME PAGE</h1>
    <img id="banner" src = "https://www.shutterstock.com/image-vector/vector--people-shopping-mall-600nw-314444516.jpg">
</div>
<pre>


</pre>
<p class="lead text-center" font-color="white">
  🌟 Welcome to our site! 🌟<br><br>
  Are you on the hunt for the perfect deal? Look no further! Our site is your one-stop destination for comparing prices from various e-commerce websites. Whether you're searching for the latest gadgets, trendy fashion items, or essential household goods, we've got you covered!<br><br>
  Feel free to explore our user-friendly interface to find the best deals that suit your needs. With our advanced filtering options, you can easily narrow down your search based on ratings, prices, and more. Say goodbye to endless scrolling and hello to effortless shopping!<br><br>
  Join us today and discover a world of unbeatable deals and savings. Start searching now and let the savings begin! Happy shopping! 🛍️✨
</p>


{% endblock content %} 